<app-home></app-home>

<ng4-loading-spinner> </ng4-loading-spinner>
<mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
<mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="roll_number">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Roll Number</mat-header-cell>
            <mat-cell *matCellDef="let element ">{{element.roll_number }} 
            </mat-cell>
        </ng-container>

  <ng-container matColumnDef="first_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell  *matCellDef="let element "><a href="" [routerLink]="['/studentDetail',element.uId]">{{element.first_name | titlecase }} </a>
            </mat-cell>
        </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="father_name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Father Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.father_name | titlecase }} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="mother_name">
    <mat-header-cell  *matHeaderCellDef mat-sort-header> Mother Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.mother_name | titlecase }} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="class">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Class </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.class}} </mat-cell>
  </ng-container>

<ng-container matColumnDef="dob">
            <mat-header-cell *matHeaderCellDef mat-sort-header>DOB</mat-header-cell>
            <mat-cell *matCellDef="let element ">  {{element.dob | date}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="uId">
            <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
            <mat-cell [routerLink]="['/student',element.uId]" *matCellDef="let element"><mat-icon  matTooltip="Edit Student" matPrefix class="icon">edit</mat-icon> <mat-icon (click)="openDialog(element)" matTooltip="Delete Student" matPrefix class="icon">delete</mat-icon>
            </mat-cell>
        </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<router-outlet></router-outlet>
