<!-- <app-home></app-home>
 <mat-sidenav-container>
   <p>
  Edit Student
</p>
 <form name="studentData" (submit)="submitEditStudent(postForm.form);" #postForm="ngForm" class="student-form" *ngFor = "let student of studentData">
<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0" >
  <div class="item item-1" fxFlex="15%">
     <mat-form-field class="navigation-items">
     <mat-label>Student Name</mat-label>       
    <mat-icon matPrefix class="icon">face</mat-icon>
    <input matInput type="text" name="first_name" [(ngModel)]="student.first_name" required minlength="4" #first_name="ngModel">
    <mat-error *ngIf="first_name.invalid">Please enter first name.</mat-error>
  </mat-form-field>
  </div>

  <div class="item item-2" fxFlex="15%">
    <mat-form-field >
    <mat-icon matPrefix class="icon">perm_identity</mat-icon>
    <input matInput placeholder="Last Name" name="last_name" [(ngModel)]="student.last_name" required minlength="5" #last_name="ngModel">
    <mat-error *ngIf="last_name.invalid">Please enter last name.</mat-error>
  </mat-form-field>
  </div>

   <div class="item item-2" fxFlex="15%">
    <mat-form-field >
    <mat-icon matPrefix class="icon">perm_identity</mat-icon>
    <input matInput placeholder="Father Name" name="father_name" [(ngModel)]="student.father_name" required minlength="4" #father_name="ngModel">
    <mat-error *ngIf="father_name.invalid">Please enter father name.</mat-error>
  </mat-form-field>
  </div>

  <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-icon matPrefix class="icon">perm_identity</mat-icon>
    <input matInput placeholder="Mother Name" name="mother_name" [(ngModel)]="student.mother_name" required minlength="5" #mother_name="ngModel">
    <mat-error *ngIf="mother_name.invalid">Please enter mother name.</mat-error>
  </mat-form-field>
  </div>

</div>

<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="15%">
     <mat-form-field class="navigation-items">
     <mat-label>Gender</mat-label>       
    <mat-icon matPrefix class="icon">sex</mat-icon>
    <mat-select placeholder="gender"  name="gender" [(ngModel)]="student.gender" required #gender="ngModel">
      <mat-option value="male">Male</mat-option>
      <mat-option value="female">Female</mat-option>
    </mat-select>
<mat-error *ngIf="gender.invalid">Please select gender.</mat-error>
  </mat-form-field>
  </div>

  <div class="item item-2" fxFlex="15%">
    <mat-form-field >
       <mat-label>Address</mat-label>  
    <mat-icon matPrefix class="icon">place</mat-icon>
        <textarea matInput name="address" [(ngModel)]="student.address" required minlength="10" #address="ngModel"></textarea>
        <mat-error *ngIf="address.invalid">Please enter address.</mat-error>

  </mat-form-field>
  </div>

  <div class="item item-3" fxFlex="15%">
    <mat-form-field >
       <mat-label>Phone</mat-label> 
    <mat-icon matPrefix class="icon">call</mat-icon>
    <input matInput placeholder="Contact" name="contact_number" [(ngModel)]="student.contact_number" required minlength="9" maxlength="11" #contact_name="ngModel">
     <mat-error *ngIf="contact_name.invalid">Please enter contact.</mat-error>
  </mat-form-field>
  </div>

</div>

<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="15%">
     <mat-form-field class="navigation-items">
     <mat-label>Email</mat-label>       
    <mat-icon matPrefix class="icon">email</mat-icon>
    <input matInput value="" [(ngModel)]="student.email" name="email"  required #email="ngModel">
    <mat-error *ngIf="email.invalid">Please enter valid email address.</mat-error>
   
  </mat-form-field>
  </div>

<div class="item item-2" fxFlex="15%">
  <mat-form-field >
  <input matInput [matDatepicker]="picker" placeholder="Choose a date" name="dob" [(ngModel)]="student.dob" required #dob="ngModel" >
<mat-datepicker-toggle matPrefix [for]="picker">
  
</mat-datepicker-toggle>
<mat-datepicker #picker></mat-datepicker>
<mat-error *ngIf="dob.invalid">Please enter dob.</mat-error>
</mat-form-field>
</div>

</div>
<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="left"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="button-row">
     <button type="submit" mat-stroked-button color="primary">Save</button>
      <button type="button" (click)="goto()" mat-raised-button color="primary">Cancel</button>

  </div>
  

</div>

</form>
</mat-sidenav-container> -->

<app-home></app-home>
 <mat-sidenav-container>
 <form  name="editStudentData" (submit)="submitEditStudent(postForm.form)" #postForm="ngForm"  class="student-form" *ngFor = "let student of studentData">
<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="15%">
     <mat-form-field class="navigation-items">
     <mat-label>Student Name</mat-label>       
    <mat-icon matPrefix class="icon">face</mat-icon>
    <input matInput value="" name="first_name" [(ngModel)]="student.first_name" #first_name="ngModel" required>
     <mat-error *ngIf="first_name.invalid">Please enter first name.</mat-error> 
  </mat-form-field>
  </div>
  <div class="item item-2" fxFlex="15%">
    <mat-form-field >
    <mat-icon matPrefix class="icon">perm_identity</mat-icon>
    <input matInput placeholder="Last Name" name="last_name" [(ngModel)]="student.last_name" #last_name="ngModel" required>
     <mat-error *ngIf="last_name.invalid">Please enter last name.</mat-error> 
  </mat-form-field>
  </div>

  <div class="item item-2" fxFlex="15%">
    <mat-form-field >
    <mat-icon matPrefix class="icon">perm_identity</mat-icon>
    <input matInput placeholder="Adhaar No" name="adhaar_no" [(ngModel)]="student.adhaar_no" #adhaar_no="ngModel" required>
     <mat-error *ngIf="adhaar_no.invalid">Please enter last name.</mat-error> 
    
  </mat-form-field>
  </div>

  <div class="item item-2" fxFlex="15%">
    <mat-form-field >
    <mat-icon matPrefix class="icon">perm_identity</mat-icon>
   <mat-select placeholder="Category"  name="category" [(ngModel)]="student.category" #category="ngModel">
      <mat-option value="OBC">OBC</mat-option>
      <mat-option value="Gen">Gen</mat-option>
      <mat-option value="SC">SC</mat-option>
      <mat-option value="ST">ST</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="item item-2" fxFlex="15%">
    <mat-form-field >
    <mat-icon matPrefix class="icon">perm_identity</mat-icon>
   <mat-select placeholder="Religion"  name="religion" [(ngModel)]="student.religion" #religion="ngModel">
      <mat-option value="HINDU">HINDU</mat-option>
      <mat-option value="MUSLIM">MUSLIM</mat-option>
      <mat-option value="SIKH">SIKH</mat-option>
      <mat-option value="CHRISTIAN">CHRISTIAN</mat-option>
      <mat-option value="BODH">BODH</mat-option>
      <mat-option value="JAIN">JAIN</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="item item-2" fxFlex="15%">
    <mat-form-field >
    <mat-icon matPrefix class="icon">perm_identity</mat-icon>
   <mat-select placeholder="Handicapped"  name="handicapped" [(ngModel)]="student.handicapped" #handicapped="ngModel">
      <mat-option value="YES">Yes</mat-option>
      <mat-option value="NO">No</mat-option>
    </mat-select>
  </mat-form-field>
</div>
</div>

<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-2" fxFlex="15%">
    <mat-form-field >
    <mat-icon matPrefix class="icon">perm_identity</mat-icon>
    <input matInput placeholder="Father Name" name="father_name" [(ngModel)]="student.father_name" #father_name="ngModel" required>
     <mat-error *ngIf="father_name.invalid">Please enter father name.</mat-error> 
  </mat-form-field>
  </div>

  <div class="item item-2" fxFlex="15%">
    <mat-form-field >
    <mat-icon matPrefix class="icon">perm_identity</mat-icon>
    <input matInput placeholder="Father Qualification" name="father_qualification" [(ngModel)]="student.father_qualification" #father_qualification="ngModel" required>
     <mat-error *ngIf="father_qualification.invalid">Please enter father Qualification.</mat-error> 
     
  </mat-form-field>
  </div>

  <div class="item item-2" fxFlex="15%">
    <mat-form-field >
    <mat-icon matPrefix class="icon">perm_identity</mat-icon>
    <input matInput placeholder="Father Occupation" name="father_occupation" [(ngModel)]="student.father_occupation" #father_occupation="ngModel" required>
     <mat-error *ngIf="father_occupation.invalid">Please enter father Occupation.</mat-error> 
  </mat-form-field>
  </div>

  <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-icon matPrefix class="icon">perm_identity</mat-icon>
    <input matInput placeholder="Mother Name" name="mother_name" [(ngModel)]="student.mother_name" #mother_name="ngModel" required>
    <mat-error *ngIf="mother_name.invalid">Please enter mother name.</mat-error>
  </mat-form-field>
  </div>

  <div class="item item-2" fxFlex="15%">
    <mat-form-field >
    <mat-icon matPrefix class="icon">perm_identity</mat-icon>
    <input matInput placeholder="Mother Qualification" name="mother_qualification" [(ngModel)]="student.mother_qualification" #mother_qualification="ngModel">
     
  </mat-form-field>
  </div>

  <div class="item item-2" fxFlex="15%">
    <mat-form-field >
    <mat-icon matPrefix class="icon">perm_identity</mat-icon>
    <input matInput placeholder="Mother Occupation" name="mother_occupation" [(ngModel)]="student.mother_occupation" #mother_occupation="ngModel">
  </mat-form-field>
  </div>
  
</div>

<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="15%">
     <mat-form-field class="navigation-items">
     <mat-label>Gender</mat-label>       
    <mat-icon matPrefix class="icon">sex</mat-icon>
    <mat-select placeholder="gender"  name="gender" [(ngModel)]="student.gender" #gender="ngModel" required>
      <mat-option value="male">Male</mat-option>
      <mat-option value="female">Female</mat-option>
    </mat-select>
<mat-error *ngIf="gender.invalid">Please select gender.</mat-error> 
  </mat-form-field>
  </div>
  <div class="item item-2" fxFlex="15%">
    <mat-form-field >
       <mat-label>Address</mat-label>  
    <mat-icon matPrefix class="icon">place</mat-icon>
        <textarea matInput name="address" [(ngModel)]="student.address" #address="ngModel" required></textarea>
         <mat-error *ngIf="address.invalid">Please enter address.</mat-error>

  </mat-form-field>
  </div>

  <div class="item item-3" fxFlex="15%">
    <mat-form-field >
       <mat-label>Phone1</mat-label> 
    <mat-icon matPrefix class="icon">call</mat-icon>
    <input matInput placeholder="Contact" name="contact_number" [(ngModel)]="student.contact_number" #contact_number="ngModel" required>
      <mat-error *ngIf="contact_number.invalid">Please enter contact.</mat-error> 
  </mat-form-field>
  </div>

  <div class="item item-3" fxFlex="15%">
    <mat-form-field >
       <mat-label>Phone2</mat-label> 
    <mat-icon matPrefix class="icon">call</mat-icon>
    <input matInput placeholder="Contact" name="contact_number2" [(ngModel)]="student.contact_number2" #contact_number2="ngModel">
  </mat-form-field>
  </div>

   <div class="item item-3" fxFlex="15%">
    <mat-form-field >
       <mat-label>Annual Income</mat-label> 
    <mat-icon matPrefix class="icon">money</mat-icon>
    <input matInput placeholder="Income" name="annual_income" [(ngModel)]="student.annual_income" #annual_income="ngModel" required>
    <mat-error *ngIf="annual_income.invalid">Please enter annual income.</mat-error> 
  </mat-form-field>
  </div>

  <div class="item item-2" fxFlex="15%">
    <mat-form-field >
    <mat-icon matPrefix class="icon">perm_identity</mat-icon>
   <mat-select placeholder="miniority"  name="miniority" [(ngModel)]="student.miniority" #miniority="ngModel">
      <mat-option value="YES">Yes</mat-option>
      <mat-option value="NO">No</mat-option>
    </mat-select>
  </mat-form-field>
</div>

</div>

<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="15%">
     <mat-form-field class="navigation-items">
     <mat-label>Email</mat-label>       
    <mat-icon matPrefix class="icon">email</mat-icon>
    <input matInput value="" name="email" [(ngModel)]="student.email" #email="ngModel" required>
     <mat-error *ngIf="email.invalid">Please enter valid email address.</mat-error> 
   
  </mat-form-field>
  </div>

  <div class="item item-2" fxFlex="15%">
    <mat-form-field >
    <mat-icon matPrefix class="icon">perm_identity</mat-icon>
   <mat-select placeholder="Only Child"  name="only_child" [(ngModel)]="student.only_child" #only_child="ngModel">
      <mat-option value="YES">Yes</mat-option>
      <mat-option value="NO">No</mat-option>
    </mat-select>

     <mat-error *ngIf="only_child.invalid">Please enter only_child.</mat-error> 
  </mat-form-field>
</div>
  <div class="item item-2" fxFlex="15%">
    <mat-form-field >
    <input matInput [matDatepicker]="picker" placeholder="DOB" name="dob" [(ngModel)]="student.dob" #dob="ngModel" required>
  <mat-datepicker-toggle matPrefix [for]="picker">
    
  </mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
   <mat-error *ngIf="dob.invalid">Please enter dob.</mat-error> 
  </mat-form-field>
  </div>

  <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-icon matPrefix class="icon">book</mat-icon>
    <mat-select placeholder="Class"  name="class" [(ngModel)]="student.class" #class="ngModel" required>
      <mat-option *ngFor="let class of classData;" value="{{class.id}}">{{class.name}}</mat-option>
    </mat-select>
     <mat-error *ngIf="class.invalid">Please select class.</mat-error> 
  </mat-form-field>
  </div>
<div class="item item-1" fxFlex="15%">
    <button mat-stroked-button  type="button" color="primary" (click)="filePicker.click()">Pick Image</button>
    <input type="file"  style="display: none;" #filePicker (change)="onImagePicked($event)">
  </div>
  <div class="image-preview" *ngIf="imagePreview !='' && imagePreview">
    <img [src]="imagePreview" [alt]="form.value.first_name">
  </div>
</div>

<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="left"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="button-row">
     <button type="submit" mat-stroked-button color="primary">Save</button>
      <button type="button" [routerLink]="['/liststudent']" mat-raised-button color="primary">Cancel</button>

  </div>
  

</div>

</form>
</mat-sidenav-container>