<app-home></app-home>
<mat-sidenav-container>
 <form  name="receiptData" (submit)="saveStudentFee(postForm.form)" #postForm="ngForm">
<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

      <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>Session</mat-label>       
    <mat-icon matPrefix class="icon">face</mat-icon>
    <!-- <input matInput value="" name="session" ngModel #session="ngModel" required> -->
     <mat-select placeholder="session"  name="session"  ngModel #session="ngModel"  required>
      <mat-option  value="2019-20">2019-20</mat-option>
      <!-- <mat-option  value="2020-21">2020-21</mat-option>
      <mat-option  value="2021-22">2021-22</mat-option> -->
    </mat-select>
    <mat-error *ngIf="session.invalid">Please enter session.</mat-error>
  </mat-form-field>
  </div>

<div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-icon matPrefix class="icon">book</mat-icon>
    <mat-select placeholder="Class"  name="class"  ngModel #class="ngModel" (ngModelChange)="getClass(postForm)" required>
      <mat-option *ngFor="let class of classData;" value="{{class.id}}">{{class.name}}</mat-option>
    </mat-select>
    <mat-error *ngIf="class.invalid">Please select class.</mat-error>
  </mat-form-field>
  </div>

    <div class="item item-3" fxFlex="15%">
    <!-- <mat-form-field >
    <mat-label>Student Name</mat-label>       
    <mat-icon matPrefix class="icon">face</mat-icon>
    <input matInput name="student_name" ngModel #student_name="ngModel" required>
    <mat-error *ngIf="student_name.invalid">Please enter student name.</mat-error>
      </mat-form-field> -->

  <mat-form-field class="example-full-width">
    <input  placeholder="Pick Student"  matInput name="student_name" ngModel #student_name="ngModel"  (ngModelChange)="getStudentInfo($event)" [matAutocomplete]="auto" required>
    <mat-error *ngIf="student_name.invalid">Please enter student name.</mat-error>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let student of studentList" [value]="student.first_name">
        {{student.first_name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  </div>

  <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>Mother Name</mat-label>       
    <mat-icon matPrefix class="icon">face</mat-icon>
    <input matInput value="" name="mother_name" ngModel #mother_name="ngModel" required>
    <mat-error *ngIf="mother_name.invalid">Please enter mother name.</mat-error>
  </mat-form-field>
  </div>


  <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>Father Name</mat-label>       
    <mat-icon matPrefix class="icon">face</mat-icon>
    <input matInput value="" name="father_name" ngModel #father_name="ngModel" required>
    <mat-error *ngIf="father_name.invalid">Please enter father name.</mat-error>
  </mat-form-field>
  </div>

   <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>SNo.</mat-label>       
    <mat-icon matPrefix class="icon">face</mat-icon>
    <input type="number" matInput name="sno" [(ngModel)]="sn_number" #sno="ngModel" readonly>
  </mat-form-field>
  </div>
</div>


<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

 

  <div class="item item-2" fxFlex="15%">
    <mat-form-field >
    <!-- <mat-icon matPrefix class="icon">date_range</mat-icon> -->
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" name="searchDate" [(ngModel)]="todayDate" #searchDate="ngModel" >
    <mat-datepicker-toggle matPrefix [for]="picker">
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</div>

<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
    <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>Pre Balance</mat-label>       
    <mat-icon matPrefix class="icon">money</mat-icon>
    <input matInput type="number" name="pre_bal" ngModel #pre_bal="ngModel" (ngModelChange)="getDepositeAmt(postForm)">
    
  </mat-form-field>
  </div>

    <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>Form Chargs.</mat-label>       
    <mat-icon matPrefix class="icon">money</mat-icon>
    <input matInput type="number" name="form_chrgs" ngModel #form_chrgs="ngModel" (ngModelChange)="getDepositeAmt(postForm)">
    
  </mat-form-field>
  </div>

  <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>Admission Fee</mat-label>       
    <mat-icon matPrefix class="icon">money</mat-icon>
    <input matInput type="number" name="adm_fee" ngModel #adm_fee="ngModel" required (ngModelChange)="getDepositeAmt(postForm)">
    <mat-error *ngIf="adm_fee.invalid">Please enter Admission Fee.</mat-error>
  </mat-form-field>
  </div>


  <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>Dearness Fee</mat-label>       
    <mat-icon matPrefix class="icon">money</mat-icon>
    <input matInput type="number" name="dearness_fee" ngModel #dearness_fee="ngModel" required (ngModelChange)="getDepositeAmt(postForm)">
    <mat-error *ngIf="dearness_fee.invalid">Please enter dearness fee.</mat-error>
  </mat-form-field>
  </div>

   <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>Devlop Fee</mat-label>       
    <mat-icon matPrefix class="icon">money</mat-icon>
    <input matInput type="number" name="dev_fee" ngModel #dev_fee="ngModel" (ngModelChange)="getDepositeAmt(postForm)">
  </mat-form-field>
  </div>

  <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>Electric Fee.</mat-label>       
    <mat-icon matPrefix class="icon">money</mat-icon>
    <input matInput type="number" name="elec_fee" ngModel #elec_fee="ngModel" (ngModelChange)="getDepositeAmt(postForm)">
  </mat-form-field>
  </div>

 </div>

 <div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

      <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>Library Fee</mat-label>       
    <mat-icon matPrefix class="icon">money</mat-icon>
    <input matInput type="number" name="lib_fee" ngModel #lib_fee="ngModel" (ngModelChange)="getDepositeAmt(postForm)">
    
  </mat-form-field>
  </div>

    <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>Lab Fee</mat-label>       
    <mat-icon matPrefix class="icon">money</mat-icon>
    <input matInput type="number" name="lab_fee" ngModel #lab_fee="ngModel" (ngModelChange)="getDepositeAmt(postForm)">
    
  </mat-form-field>
  </div>

  <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>Music Fee</mat-label>       
    <mat-icon matPrefix class="icon">money</mat-icon>
    <input matInput type="number" name="music_fee" ngModel #music_fee="ngModel" (ngModelChange)="getDepositeAmt(postForm)">
    
  </mat-form-field>
  </div>

  <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>Annual Func Chrgs</mat-label>       
    <mat-icon matPrefix class="icon">money</mat-icon>
    <input matInput type="number" name="annual_func_fee" ngModel #annual_func_fee="ngModel" (ngModelChange)="getDepositeAmt(postForm)">
  </mat-form-field>
  </div>

   <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>Exam Fee</mat-label>       
    <mat-icon matPrefix class="icon">money</mat-icon>
    <input matInput type="number" name="exam_fee" ngModel #exam_fee="ngModel" (ngModelChange)="getDepositeAmt(postForm)">
  </mat-form-field>
  </div>

  <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>S Class Fee.</mat-label>       
    <mat-icon matPrefix class="icon">money</mat-icon>
    <input matInput type="number" name="sclass" ngModel #sclass="ngModel" (ngModelChange)="getDepositeAmt(postForm)">
  </mat-form-field>
  </div>

  
 </div>

 <div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

     <div class="item item-3" fxFlex="15%">
      <mat-form-field >
      <mat-label>Tuition Fee</mat-label>       
      <mat-icon matPrefix class="icon">money</mat-icon>
      <input matInput type="number" name="tution_fee" ngModel #tution_fee="ngModel" (ngModelChange)="getDepositeAmt(postForm)">
      <!-- <mat-error *ngIf="form.get('tution_fee').invalid">Please enter tution fee.</mat-error> -->
      </mat-form-field>
      </div>

  <div class="item item-3" fxFlex="15%">
      <mat-form-field >
      <mat-label>Activity Fee</mat-label>       
      <mat-icon matPrefix class="icon">money</mat-icon>
      <input matInput type="number" name="acti_fee" ngModel #acti_fee="ngModel" (ngModelChange)="getDepositeAmt(postForm)">
      </mat-form-field>
      </div>

      <div class="item item-3" fxFlex="15%">
      <mat-form-field >
      <mat-label>Month</mat-label>       
      <mat-icon matPrefix class="icon">money</mat-icon>
      <mat-select placeholder="Month" name="monthName"  ngModel #monthName="ngModel">
      <mat-option value="January">January</mat-option>
      <mat-option value="February">February</mat-option>
      <mat-option value="March">March</mat-option>
      <mat-option value="April">April</mat-option>
      <mat-option value="May">May</mat-option>
      <mat-option value="June">June</mat-option>
      <mat-option value="July">July</mat-option>
      <mat-option value="August">August</mat-option>
      <mat-option value="September">September</mat-option>
      <mat-option value="October">October</mat-option>
      <mat-option value="November">November</mat-option>
      <mat-option value="December">December</mat-option>
  </mat-select>
      </mat-form-field>
      </div>

        <div class="item item-3" fxFlex="15%">
      <mat-form-field >
      <mat-label>Late Fee(if any)</mat-label>       
      <mat-icon matPrefix class="icon">money</mat-icon> 
      <input matInput type="number" name="late_fee" ngModel #late_fee="ngModel" (ngModelChange)="getDepositeAmt(postForm)">
      </mat-form-field>
      </div>
</div>

 <div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
      
       <div class="item item-3" fxFlex="15%">
      <mat-form-field >
      <mat-label>Total Amount</mat-label>       
      <mat-icon matPrefix class="icon">money</mat-icon>
      <input matInput type="number" name="total_amount" ngModel #total_amount="ngModel" required>
      <mat-error *ngIf="total_amount.invalid">Please enter total amount.</mat-error>
      </mat-form-field>
      </div>

       <div class="item item-3" fxFlex="15%">
      <mat-form-field >
      <mat-label>Amount Deposite</mat-label>       
      <mat-icon matPrefix class="icon">money</mat-icon>
      <input matInput type="number" name="amt_deposite" [(ngModel)]="sum" readonly #amt_deposite="ngModel" required>
      <mat-error *ngIf="amt_deposite.invalid">Please enter total amount.</mat-error>
      </mat-form-field>
      </div>

       <div class="item item-3" fxFlex="15%">
      <mat-form-field >
      <mat-label>Balance Amount</mat-label>       
      <mat-icon matPrefix class="icon">money</mat-icon>
      <input matInput type="number" name="bal_amt" ngModel  #bal_amt="ngModel">
      </mat-form-field>
      </div>

       <div class="item item-3" fxFlex="15%">
      <mat-form-field >
      <mat-label>Remark</mat-label>       
      <mat-icon matPrefix class="icon">pencil</mat-icon>
      <input matInput  name="remark" ngModel #remark="ngModel">
      </mat-form-field>
      </div>

       <div class="item item-3" fxFlex="15%">
      <mat-form-field >
      <mat-label>Received By</mat-label>       
      <mat-icon matPrefix class="icon">money</mat-icon>
       <mat-select placeholder="Received By" name="received_by" ngModel #received_by="ngModel">
      <mat-option value="Admin">Admin</mat-option>
      <mat-option value="Sales">Sales</mat-option>
    </mat-select>
      </mat-form-field>
      </div>
  </div>



<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="left"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="button-row">
  	 <button type="submit" mat-stroked-button color="primary">Save</button>
  	  <button mat-raised-button color="primary">Reset</button>

  </div>
  

</div>
</form>
</mat-sidenav-container>