
  <body>
    <header class="clearfix">
      <div id="logo">
        <img src="assets/logo.png">
      </div>
      <h1>INVOICE 3-2-1</h1>
      <div id="company" class="clearfix">
        <div>The President</div>
        <div>Daniyari,<br /> AZ 85004, UP</div>
        <div>9120254484</div>
        <div><a href="mailto:company@example.com">support@thepresidents.in</a></div>
      </div>
      <div id="project">
        <div><span>Name</span> Khushboo Vijayvargiya</div>
        <div><span>Class</span> 8-A</div>
        <div><span>ADDRESS</span> 796 Silver Harbour, TX 79273, US</div>
        <div><span>EMAIL</span> <a href="mailto:john@example.com">john@example.com</a></div>
        <div><span>DATE</span> August 17, 2015</div>
       <!--  <div><span>DUE DATE</span> September 17, 2015</div> -->
      </div>
    </header>
    <main>
      <table>
        <thead>
          <tr rowspan="4">
            <th class="service">Fee Name</th>
            <th class="desc">DESCRIPTION</th>
            <th>Fee</th>
            <!-- <th>QTY</th> -->
            <th>TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="service">Tution Fee</td>
            <td class="desc">Creating a recognizable design solution based on the company's existing visual identity</td>
            <td class="unit">$40.00</td>
            <!-- <td class="qty">26</td> -->
            <td class="total">$1,040.00</td>
          </tr>
          <tr>
            <td class="service">Exam Fee</td>
            <td class="desc">Developing a Content Management System-based Website</td>
            <td class="unit">$40.00</td>
            <!-- <td class="qty">80</td> -->
            <td class="total">$3,200.00</td>
          </tr>
          <tr>
            <td class="service">Activity Fee</td>
            <td class="desc">Optimize the site for search engines (SEO)</td>
            <td class="unit">$40.00</td>
            <!-- <td class="qty">20</td> -->
            <td class="total">$800.00</td>
          </tr>
          <tr>
            <td class="service">Computer Fee</td>
            <td class="desc">Initial training sessions for staff responsible for uploading web content</td>
            <td class="unit">$40.00</td>
            <!-- <td class="qty">4</td> -->
            <td class="total">$160.00</td>
          </tr>
          <tr>
            <td colspan="3">SUBTOTAL</td>
            <td class="total">$5,200.00</td>
          </tr>
          <tr>
            <td colspan="3">TAX 25%</td>
            <td class="total">$1,300.00</td>
          </tr>
          <tr>
            <td colspan="3" class="grand total">GRAND TOTAL</td>
            <td class="grand total">$6,500.00</td>
          </tr>
        </tbody>
      </table>
      <div id="notices">
        <div>NOTICE:</div>
        <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
      </div>
    </main>
    <footer>
      Invoice was created on a computer and is valid without the signature and seal.
    </footer>
  </body>
