<app-home></app-home>
<mat-sidenav-container>
 <form name="receiptData" #postForm="ngForm" class="receipt-form">
<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

      <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>Session</mat-label>       
    <mat-icon matPrefix class="icon">face</mat-icon>
    <input matInput value="" name="session" ngModel required minlength="4" #session="ngModel">
    <mat-error *ngIf="session.invalid">Please enter first name.</mat-error>
  </mat-form-field>
  </div>

    <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>Student Name</mat-label>       
    <mat-icon matPrefix class="icon">face</mat-icon>
    <input matInput value="" name="student_name" ngModel required minlength="4" #student_name="ngModel">
    <mat-error *ngIf="student_name.invalid">Please enter student name.</mat-error>
  </mat-form-field>
  </div>

  <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>Mother Name</mat-label>       
    <mat-icon matPrefix class="icon">face</mat-icon>
    <input matInput value="" name="mother_name" ngModel required minlength="4" #mother_name="ngModel">
    <mat-error *ngIf="mother_name.invalid">Please enter mother name.</mat-error>
  </mat-form-field>
  </div>


  <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>Father Name</mat-label>       
    <mat-icon matPrefix class="icon">face</mat-icon>
    <input matInput value="" name="father_name" ngModel required minlength="4" #father_name="ngModel">
    <mat-error *ngIf="father_name.invalid">Please enter father name.</mat-error>
  </mat-form-field>
  </div>

   <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>SNo.</mat-label>       
    <mat-icon matPrefix class="icon">face</mat-icon>
    <input matInput value="" name="sno" ngModel required minlength="4" >
  </mat-form-field>
  </div>
</div>


<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

 <div class="item item-3" fxFlex="15%">
  	<mat-form-field >
    <mat-icon matPrefix class="icon">book</mat-icon>
    <mat-select placeholder="Class"  name="class" ngModel required #class="ngModel" >
      <mat-option *ngFor="let class of classData;" value="{{class.id}}">{{class.name}}</mat-option>
    </mat-select>
    <mat-error *ngIf="class.invalid">Please select class.</mat-error>
  </mat-form-field>
  </div>

  <div class="item item-2" fxFlex="15%">
    <mat-form-field >
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" name="searchDate" value="{{ todayDate }} ">
    <mat-datepicker-toggle matPrefix [for]="picker">
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</div>

<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
    <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>Pre Balance</mat-label>       
    <mat-icon matPrefix class="icon">money</mat-icon>
    <input matInput type="number" name="pre_bal" ngModel required minlength="4" #pre_bal="ngModel">
    
  </mat-form-field>
  </div>

    <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>Form Chargs.</mat-label>       
    <mat-icon matPrefix class="icon">money</mat-icon>
    <input matInput type="number" name="form_chrgs" ngModel required minlength="4" #form_chrgs="ngModel">
    
  </mat-form-field>
  </div>

  <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>Admission Fee</mat-label>       
    <mat-icon matPrefix class="icon">money</mat-icon>
    <input matInput type="number" name="adm_fee" ngModel required minlength="4" #adm_fee="ngModel">
    <mat-error *ngIf="adm_fee.invalid">Please enter mother name.</mat-error>
  </mat-form-field>
  </div>


  <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>Dearness Fee</mat-label>       
    <mat-icon matPrefix class="icon">money</mat-icon>
    <input matInput type="number" name="dearness_fee" ngModel required minlength="4" #dearness_fee="ngModel">
    <mat-error *ngIf="dearness_fee.invalid">Please enter father name.</mat-error>
  </mat-form-field>
  </div>

   <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>Devlop Fee</mat-label>       
    <mat-icon matPrefix class="icon">money</mat-icon>
    <input matInput type="number" name="dev_fee" ngModel required minlength="4" >
  </mat-form-field>
  </div>

  <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>Electric Fee.</mat-label>       
    <mat-icon matPrefix class="icon">money</mat-icon>
    <input matInput type="number" name="elec_fee" ngModel required minlength="4" >
  </mat-form-field>
  </div>

 </div>

 <div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

      <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>Library Fee</mat-label>       
    <mat-icon matPrefix class="icon">money</mat-icon>
    <input matInput type="number" name="lib_fee" ngModel required minlength="4" #lib_fee="ngModel">
    
  </mat-form-field>
  </div>

    <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>Lab Fee</mat-label>       
    <mat-icon matPrefix class="icon">money</mat-icon>
    <input matInput type="number" name="lab_fee" ngModel required minlength="4" #lab_fee="ngModel">
    
  </mat-form-field>
  </div>

  <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>Music Fee</mat-label>       
    <mat-icon matPrefix class="icon">money</mat-icon>
    <input matInput type="number" name="music_fee" ngModel required minlength="4" #music_fee="ngModel">
    
  </mat-form-field>
  </div>

  <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>Annual Func Chrgs</mat-label>       
    <mat-icon matPrefix class="icon">money</mat-icon>
    <input matInput type="number" name="annual_func_fee" ngModel required minlength="4" #annual_func_fee="ngModel">
  </mat-form-field>
  </div>

   <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>Exam Fee</mat-label>       
    <mat-icon matPrefix class="icon">money</mat-icon>
    <input matInput type="number" name="exam_fee" ngModel required minlength="4" >
  </mat-form-field>
  </div>

  <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>S Class Fee.</mat-label>       
    <mat-icon matPrefix class="icon">money</mat-icon>
    <input matInput type="number" name="sclass" ngModel required minlength="4" >
  </mat-form-field>
  </div>

  
 </div>

 <div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

     <div class="item item-3" fxFlex="15%">
      <mat-form-field >
      <mat-label>Tuition Fee</mat-label>       
      <mat-icon matPrefix class="icon">money</mat-icon>
      <input matInput type="number" name="tution_fee" ngModel required minlength="4" #tution_fee="ngModel">
      </mat-form-field>
      </div>

  <div class="item item-3" fxFlex="15%">
      <mat-form-field >
      <mat-label>Activity Fee</mat-label>       
      <mat-icon matPrefix class="icon">money</mat-icon>
      <input matInput type="number" name="acti_fee" ngModel required minlength="4" #acti_fee="ngModel">
      </mat-form-field>
      </div>

      <div class="item item-3" fxFlex="15%">
      <mat-form-field >
      <mat-label>Month</mat-label>       
      <mat-icon matPrefix class="icon">money</mat-icon>
      <mat-select placeholder="Month" ngModel name="monthName" #monthName="ngModel">
      <mat-option value="January">January</mat-option>
      <mat-option value="February">February</mat-option>
      <mat-option value="March">March</mat-option>
      <mat-option value="April">April</mat-option>
      <mat-option value="May">May</mat-option>
      <mat-option value="June">June</mat-option>
      <mat-option value="July">July</mat-option>
      <mat-option value="August">August</mat-option>
      <mat-option value="September">September</mat-option>
      <mat-option value="October">October</mat-option>
      <mat-option value="November">November</mat-option>
      <mat-option value="December">December</mat-option>
  </mat-select>
      </mat-form-field>
      </div>

        <div class="item item-3" fxFlex="15%">
      <mat-form-field >
      <mat-label>Late Fee(if any)</mat-label>       
      <mat-icon matPrefix class="icon">money</mat-icon>
      <input matInput type="number" name="late_fee" ngModel required minlength="4" #late_fee="ngModel">
      </mat-form-field>
      </div>
</div>

 <div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
      
       <div class="item item-3" fxFlex="15%">
      <mat-form-field >
      <mat-label>Total Amount</mat-label>       
      <mat-icon matPrefix class="icon">money</mat-icon>
      <input matInput value="" name="total_amount" ngModel required minlength="4" #total_amount="ngModel">
      </mat-form-field>
      </div>

       <div class="item item-3" fxFlex="15%">
      <mat-form-field >
      <mat-label>Amount Deposite</mat-label>       
      <mat-icon matPrefix class="icon">money</mat-icon>
      <input matInput type="number" name="amt_deposite" ngModel required minlength="4" #amt_deposite="ngModel">
      </mat-form-field>
      </div>

       <div class="item item-3" fxFlex="15%">
      <mat-form-field >
      <mat-label>Balance Amount</mat-label>       
      <mat-icon matPrefix class="icon">money</mat-icon>
      <input matInput type="number" name="bal_amt" ngModel required minlength="4" #bal_amt="ngModel">
      </mat-form-field>
      </div>

       <div class="item item-3" fxFlex="15%">
      <mat-form-field >
      <mat-label>Remark</mat-label>       
      <mat-icon matPrefix class="icon">pencil</mat-icon>
      <input matInput value="" name="remark" ngModel required minlength="4" #remark="ngModel">
      </mat-form-field>
      </div>

       <div class="item item-3" fxFlex="15%">
      <mat-form-field >
      <mat-label>Received By</mat-label>       
      <mat-icon matPrefix class="icon">money</mat-icon>
       <mat-select placeholder="Received By" ngModel name="received_by" #received_by="ngModel">
      <mat-option value="Admin">Admin</mat-option>
      <mat-option value="Sales">Sales</mat-option>
    </mat-select>
      </mat-form-field>
      </div>
  </div>



<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="left"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="button-row">
  	 <button type="submit" mat-stroked-button color="primary">Save</button>
  	  <button mat-raised-button color="primary">Reset</button>

  </div>
  

</div>
</form>
</mat-sidenav-container>