<mat-sidenav-container>
<form name="bookData" (submit)="submitBook(postForm); postForm.reset()" #postForm="ngForm" class="student-form">
<div class="container"
   fxLayout
   fxLayout.xs="column"
   fxLayoutGap="10px"
   fxLayoutGap.xs="0">
   <div class="item item-1" fxFlex="15%">
      <mat-form-field class="navigation-items">
         <mat-label>Book Title</mat-label>
         <mat-icon matPrefix class="icon">book</mat-icon>
         <input matInput value="" name="book_title" ngModel required minlength="4" #book_title="ngModel">
         <mat-error *ngIf="book_title.invalid">Please enter Book Title.</mat-error>
      </mat-form-field>
   </div>
   <div class="item item-2" fxFlex="15%">
      <mat-form-field >
         <mat-label>Author Name</mat-label>
         <mat-icon matPrefix class="icon">perm_identity</mat-icon>
         <input matInput placeholder="Author Name" name="author_name" ngModel required minlength="5" #author_name="ngModel">
         <mat-error *ngIf="author_name.invalid">Please enter Author name.</mat-error>
      </mat-form-field>
   </div>

   <div class="item item-2" fxFlex="15%">
      <mat-form-field >
         <mat-icon matPrefix class="icon">print</mat-icon>
         <input matInput placeholder="Publication" name="publication" ngModel required minlength="4" #publication="ngModel">
         <mat-error *ngIf="publication.invalid">Please enter publication.</mat-error>
      </mat-form-field>
   </div>
</div>
<div class="container"
   fxLayout
   fxLayout.xs="column"
   fxLayoutGap="10px"
   fxLayoutGap.xs="0">
   <div class="item item-1" fxFlex="15%">
      <mat-form-field class="navigation-items">
         <mat-label>Course Book</mat-label>
         <mat-icon matPrefix class="icon">pan_tool</mat-icon>
         <mat-select placeholder="Course Book"  name="course_book" ngModel required #course_book="ngModel">
            <mat-option value="yes">Yes</mat-option>
            <mat-option value="no">No</mat-option>
         </mat-select>
         <mat-error *ngIf="course_book.invalid">Please select option.</mat-error>
      </mat-form-field>
   </div>
</div>

<div class="container"
   fxLayout
   fxLayout.xs="column"
   fxLayoutAlign="left"
   fxLayoutGap="10px"
   fxLayoutGap.xs="0">
   <div class="button-row">
      <button type="submit" mat-stroked-button color="primary">Save</button>
      <button mat-raised-button color="primary" type="reset">Reset</button>
   </div>
</div>
</form>
</mat-sidenav-container>
