<app-home></app-home>
<mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>Book ID</mat-header-cell>
            <mat-cell *matCellDef="let element ">{{element.id }}
            </mat-cell>
        </ng-container>

  <ng-container matColumnDef="book_title">
            <mat-header-cell *matHeaderCellDef>Book Title</mat-header-cell>
            <mat-cell *matCellDef="let element ">{{element.book_title | titlecase }}
            </mat-cell>
        </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="author_name">
    <mat-header-cell *matHeaderCellDef> Author Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.author_name | titlecase }} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="publication">
    <mat-header-cell  *matHeaderCellDef> Publication </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.publication | titlecase }} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="course_book">
    <mat-header-cell *matHeaderCellDef> Course Book </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.course_book}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<router-outlet></router-outlet>
