<app-home></app-home>
<!-- <p>Attendance works</p> -->
<mat-sidenav-container>
<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="15%">
	<mat-form-field >
	<mat-icon matPrefix class="icon">book</mat-icon>
	<mat-select placeholder="Class" [(ngModel)]="class" (ngModelChange)="getClassName($event)" name="class">
	<mat-option *ngFor="let class of classData;" [value]="class.id">{{class.name}}</mat-option>
	</mat-select>
	</mat-form-field>
  </div>
</div>

 <form name="attendanceData" (submit)="submitAttendance(postForm); postForm.reset()" #postForm="ngForm" class="student-form">
<mat-table #table [dataSource]="studentData" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="roll_number">
            <mat-header-cell *matHeaderCellDef>Roll Number</mat-header-cell>
            <!-- <mat-cell  [(ngModel)]="roll_number" name="roll_number" #roll_number="ngModel" *matCellDef="let element ">{{ element.roll_number }}  --><mat-cell *matCellDef="let element">
            <input matInput name="roll_number" [(ngModel)]="element.roll_number" required minlength="5" #roll_number="ngModel" >
            </mat-cell>
        </ng-container>

  <ng-container matColumnDef="first_name">
            <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
            <mat-cell *matCellDef="let firstname ">
              <input matInput name="first_name" [(ngModel)]="firstname.first_name" required minlength="5" #first_name="ngModel" >
            </mat-cell>
        </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="last_name">
    <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.last_name | titlecase }} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="present">
    <mat-header-cell  *matHeaderCellDef> Present </mat-header-cell>
    <mat-cell *matCellDef="let element"> <mat-radio-button name="action" value="P"></mat-radio-button> </mat-cell>
  </ng-container>

   <ng-container matColumnDef="absent">
    <mat-header-cell  *matHeaderCellDef> Absent </mat-header-cell>
    <mat-cell *matCellDef="let element"> <mat-radio-button name="action" value="A"></mat-radio-button> </mat-cell>
  </ng-container>

   <ng-container matColumnDef="leave">
    <mat-header-cell  *matHeaderCellDef> Leave </mat-header-cell>
    <mat-cell *matCellDef="let element"> <mat-radio-button name="action" value="L"></mat-radio-button> </mat-cell>
  </ng-container>

 

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="left"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
<div class="button-row">
  	 <button type="submit" mat-stroked-button color="primary">Save</button>
  	  <button mat-raised-button color="primary">Reset</button>

  </div></div>
</form>
</mat-sidenav-container>
