<app-home></app-home>
<mat-sidenav-container>
<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="15%">
	<mat-form-field >
	<mat-icon matPrefix class="icon">book</mat-icon>
	<mat-select placeholder="Class" [(ngModel)]="class" (ngModelChange)="getClassName($event)" name="class">
	<mat-option *ngFor="let class of classData;" [value]="class.id">{{class.name}}</mat-option>
	</mat-select>
	</mat-form-field>
  </div>
</div>

 <form name="attendanceData" class="student-form">
  <table style="width:100%" >
   <thead> <tr>
      <td>Roll Number</td>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Present</td>
      <td>Absent</td>
      <td>Leave</td>
       <td>Late</td>
    </tr>
  </thead>
    <tr *ngFor="let student of studentData;let i = index;">
    <td><mat-form-field>
    <input  matInput name="roll_number{{i}}" [(ngModel)]="student.roll_number" #roll_number{{i}}="ngModel">
    </mat-form-field></td>
    <td><mat-form-field>
            <input  matInput name="first_name{{i}}" [(ngModel)]="student.first_name" #first_name{{i}}="ngModel">
    </mat-form-field></td>
    <td><mat-form-field>
            <input  matInput name="last_name{{i}}" [(ngModel)]="student.last_name" #last_name{{i}}="ngModel">
    </mat-form-field></td>
    <td>
    <mat-radio-button  name="action{{i}}" [(ngModel)]="student.action"  #action{{i}}="ngModel" (click)='onRadioClick(i,"P",student)' ></mat-radio-button> 
    </td>
    <td>
          <mat-radio-button  name="action{{i}}" [(ngModel)]="student.action" #action{{i}}="ngModel" (click)='onRadioClick(i,"A",student)'></mat-radio-button> 
    </td>
    <td>
          <mat-radio-button  name="action{{i}}" [(ngModel)]="student.action" #action{{i}}="ngModel" (click)='onRadioClick(i,"L",student)'></mat-radio-button> 
    </td>
    <td>
          <mat-radio-button  name="action{{i}}" [(ngModel)]="student.action" #action{{i}}="ngModel" (click)='onRadioClick(i,"LT",student)'></mat-radio-button> 
    </td>
    </tr>
  </table>
<!-- <div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="left"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
<div class="button-row">
     <button type="submit" mat-stroked-button color="primary">Save</button>
      <button mat-raised-button color="primary">Reset</button>
  </div></div> -->
</form>
</mat-sidenav-container>
