<app-home></app-home>
<mat-sidenav-container>
<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="15%">
	<mat-form-field >
	<mat-icon matPrefix class="icon">book</mat-icon>
	<mat-select placeholder="Class" [(ngModel)]="class" (ngModelChange)="getClassName($event)" name="class">
	<mat-option *ngFor="let class of classData;" [value]="class.id">{{class.name}}</mat-option>
	</mat-select>
	</mat-form-field>
  </div>
  <div class="item item-1" fxFlex="15%">
	<mat-form-field >
	 <input matInput [matDatepicker]="picker" placeholder="Choose a date" name="searchDate" ngModel #searchDate="ngModel" (ngModelChange)="getSearchDate($event)" >
  <mat-datepicker-toggle matPrefix [for]="picker">
  </mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
 
	</mat-form-field>
  </div>

  <div class="item item-1" fxFlex="15%">
  <mat-form-field >
    <input matInput type="text" name="present" style="color:green;font-weight:bold;" value="Present- {{presentAction}}">
  </mat-form-field>
  </div>

  <div class="item item-1" fxFlex="15%">
  <mat-form-field >
    <input matInput type="text" name="absent" style="color:red;font-weight:bold;" value="Leave- {{leaveAction}}">
  </mat-form-field>
  </div>

  <div class="item item-1" fxFlex="15%">
  <mat-form-field >
    <input matInput type="text" name="leave" style="color:blue;font-weight:bold;" value="Absent- {{absentAction}}">
  </mat-form-field>
  </div>

</div></mat-sidenav-container>
<mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="roll_number">
            <mat-header-cell *matHeaderCellDef>Roll Number</mat-header-cell>
            <mat-cell *matCellDef="let element ">{{element.roll_number }} 
            </mat-cell>
        </ng-container>

  <ng-container matColumnDef="first_name">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let element ">{{element.first_name | titlecase }} 
            </mat-cell>
        </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="last_name">
    <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.last_name | titlecase }} </mat-cell>
  </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
             <mat-cell *matCellDef="let element" style="font-weight: bold;" [ngStyle]="{'color': element.action == 'A' ? 'red' : element.action == 'L' ? 'blue' : 'green'}"> {{element.action }} </mat-cell>
        </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<router-outlet></router-outlet>