 <mat-sidenav-container>
 <form name="studentData" class="student-form">
<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="15%">
  	 <mat-form-field class="navigation-items">
  	 <mat-label>Student Name</mat-label>       
  	<mat-icon matPrefix class="icon">face</mat-icon>
    <input matInput value="" name="studentName" [(ngModel)]="studentData.first_name" [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  </div>
  <div class="item item-2" fxFlex="15%">
    <mat-form-field >
    <mat-icon matPrefix class="icon">perm_identity</mat-icon>
    <input matInput placeholder="Last Name" value="" name="last_name" [(ngModel)]="studentData.last_name" [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  </div>

  <div class="item item-2" fxFlex="15%">
  	<mat-form-field >
    <mat-icon matPrefix class="icon">perm_identity</mat-icon>
    <input matInput placeholder="Father Name" value="" name="fatherName" [(ngModel)]="studentData.father_name" [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  </div>

  <div class="item item-3" fxFlex="15%">
  	<mat-form-field >
    <mat-icon matPrefix class="icon">perm_identity</mat-icon>
    <input matInput placeholder="Mother Name" value="" name="motherName" [(ngModel)]="studentData.mother_name" [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  </div>
</div>

<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="15%">
  	 <mat-form-field class="navigation-items">
  	 <mat-label>Gender</mat-label>       
  	<mat-icon matPrefix class="icon">gender</mat-icon>
    <input matInput value="" name="gender" [(ngModel)]="studentData.gender" [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  </div>
  <div class="item item-2" fxFlex="15%">
  	<mat-form-field >
  		 <mat-label>Address</mat-label>  
    <mat-icon matPrefix class="icon">place</mat-icon>
        <textarea matInput placeholder="" [(ngModel)]="studentData.address" [ngModelOptions]="{standalone: true}"></textarea>

  </mat-form-field>
  </div>

  <div class="item item-3" fxFlex="15%">
  	<mat-form-field >
  		 <mat-label>Phone</mat-label> 
    <mat-icon matPrefix class="icon">call</mat-icon>
    <input matInput placeholder="Contact" value="" [(ngModel)]="studentData.contact_number" [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  </div>

</div>

<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="15%">
  	 <mat-form-field class="navigation-items">
  	 <mat-label>Email</mat-label>       
  	<mat-icon matPrefix class="icon">email</mat-icon>
    <input matInput value=""  [(ngModel)]="studentData.email" [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  </div>
  <div class="item item-2" fxFlex="15%">
  	<mat-form-field >
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="studentData.dob" [ngModelOptions]="{standalone: true}">
  <mat-datepicker-toggle matPrefix [for]="picker">
    
  </mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  </div>

  <div class="item item-3" fxFlex="15%">
  	<mat-form-field >
    <mat-icon matPrefix class="icon">book</mat-icon>
    <mat-select placeholder="Class"  name="class" [(ngModel)]="studentData.class" [ngModelOptions]="{standalone: true}">
      <mat-option value="First">First</mat-option>
      <mat-option value="Second">Second</mat-option>
    </mat-select>
  </mat-form-field>
  </div>

</div>

<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="left"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="button-row">
  	 <button mat-stroked-button color="primary" (click)="submitStudent(studentData)">Save</button>
  	  <button mat-raised-button color="primary">Reset</button>

  </div>
  

</div>

</form>
</mat-sidenav-container>