<app-home></app-home>
<mat-sidenav-container>
<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
     <div fxFlex="20%">
  	<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Student</mat-card-title>
    <mat-card-subtitle>Class-1 <button mat-button>View</button></mat-card-subtitle>
     <mat-card-subtitle>Class-2 <button mat-button>View</button></mat-card-subtitle>
      <mat-card-subtitle>Class-3 <button mat-button>View</button></mat-card-subtitle>
  </mat-card-header>
</mat-card>
 </div>
 <div fxFlex="20%">
  	<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Student</mat-card-title>
    <mat-card-subtitle>Class-1 <button mat-button>View</button></mat-card-subtitle>
     <mat-card-subtitle>Class-2 <button mat-button>View</button></mat-card-subtitle>
      <mat-card-subtitle>Class-3 <button mat-button>View</button></mat-card-subtitle>
  </mat-card-header>
</mat-card>
 </div>
 <div fxFlex="20%">
  	<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Student</mat-card-title>
    <mat-card-subtitle>Class-1 <button mat-button>View</button></mat-card-subtitle>
     <mat-card-subtitle>Class-2 <button mat-button>View</button></mat-card-subtitle>
      <mat-card-subtitle>Class-3 <button mat-button>View</button></mat-card-subtitle>
  </mat-card-header>
</mat-card>
</div>

     <div fxFlex="20%">
 
  	<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Student</mat-card-title>
    <mat-card-subtitle>Class-1 <button mat-button>View</button></mat-card-subtitle>
     <mat-card-subtitle>Class-2 <button mat-button>View</button></mat-card-subtitle>
      <mat-card-subtitle>Class-3 <button mat-button>View</button></mat-card-subtitle>
  </mat-card-header>
</mat-card>
  </div></div>
</mat-sidenav-container>