<mat-sidenav-container>
 <mat-sidenav-content>
   <mat-toolbar color="primary">
    <div fxHide.gt-xs>
      <button mat-icon-button>
       <mat-icon>menu</mat-icon>
     </button>
   </div>
   <div>
    <a>
     Daksh International Daniyari
   </a>
 </div>
 <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
   <ul fxLayout fxLayoutGap="20px" class="navigation-items">
     <!-- <li>
       <a mat-list-item
       [routerLink]="['/login']">
       <mat-icon>input</mat-icon>&nbsp;
       <span  class="label">Login</span>
     </a>
        </li> -->

   <li [matMenuTriggerFor]="student"  #matMenuTrigger1="matMenuTrigger">
     <a mat-list-item (mouseenter)="matMenuTrigger1.openMenu()">
       <mat-icon class="icon">people</mat-icon>&nbsp;
       <span class="label">Student</span>
     </a>
     <mat-menu #student="matMenu" (mouseleave)="matMenuTrigger1.closeMenu()" [overlapTrigger]="false">
       <button mat-menu-item [routerLink]="['/student']">Add Student</button>
       <button mat-menu-item [routerLink]="['/liststudent']">View Student</button>
       <button mat-menu-item [routerLink]="['/attendance']">Attendance</button>
       <button mat-menu-item [routerLink]="['/attendanceView']">View Attendance</button>
     </mat-menu>
   </li>
   <li [matMenuTriggerFor]="books"  #matMenuTrigger3="matMenuTrigger">
     <a mat-list-item (mouseenter)="matMenuTrigger3.openMenu()">
       <mat-icon class="icon">book</mat-icon>&nbsp;
       <span class="label">Books</span>
     </a>
     <mat-menu #books="matMenu" (mouseleave)="matMenuTrigger1.closeMenu()" [overlapTrigger]="false">
       <button mat-menu-item [routerLink]="['/bookAdd']">Add Books</button>
       <button mat-menu-item [routerLink]="['/bookView']">View Books</button>
       <button mat-menu-item [routerLink]="['/issueBook']">Add Library</button>
       <button mat-menu-item [routerLink]="['/issuedBooksView']">View Library</button>
     </mat-menu>
   </li>

   <li [matMenuTriggerFor]="receipt" #matMenuTrigger2="matMenuTrigger">
     <a mat-list-item (mouseenter)="matMenuTrigger2.openMenu()">
       <mat-icon class="icon">receipt</mat-icon>&nbsp;
       <span class="label">Receipt</span>
     </a>
     <mat-menu #receipt="matMenu" (mouseleave)="matMenuTrigger2.closeMenu()" [overlapTrigger]="false">
       <button mat-menu-item [routerLink]="['/receipt']">Add Receipt</button>
       <button mat-menu-item [routerLink]="['/receiptView']">View Receipt</button>
     </mat-menu>
   </li>

 <li>
   <a mat-list-item
   [routerLink]="['/']">
   <mat-icon class="icon">dashboard</mat-icon>&nbsp;
   <span class="label">Dashboard</span>
 </a>
</li>
<li>
 <a mat-list-item
   [routerLink]="['/login']">
   <mat-icon class="icon">input</mat-icon>&nbsp;
   <span class="label">LogOut</span>
 </a>
</li>
</ul>
</div>
</mat-toolbar>
<main>
</main>
</mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>